# Outputs dos testes
*.myout
*.diff
*.log
*.actual
*.expected
*.stderr

# Ficheiros compilados (C/C++)
*.o
*.exe
!IAED/test102.out
!IAED/test103.out
!IAED/test104.out
!IAED/test105.out
!IAED/test106.out
!IAED/test107.out

# Executáveis do projeto (gerados pelo make)
proj
proj_asan
project
projecto.*
project.*

# Ficheiros de Crash e Valgrind (Erros de memória)
core
core.*
vgcore.*

# Ficheiros do Python (Scripts de stress)
__pycache__/
*.pyc

# Ficheiros temporários de editores de terminal (Vim/Nano/Linux)
*.swp
*.swo
*~

# Ficheiros de sistema (macOS)
*.dSYM/
.DS_Store

# IDEs, Editores de texto e ficheiros comprimidos (Submissão)
.vscode/
.idea/
cmake-build-*/

# Ignore all hidden files and directories
.*

# Exceptions: explicitly track these essential hidden files
!.gitignore
!.gitattributes
